.trendingContainer {
  display: flex;
  overflow: hidden;
  gap: 40px;
  margin: 25px 0 40px 0;
}

.title {
  margin-bottom: 25;
  margin-left: 25;
}

@media (max-width: 768px) {
}

@media (max-width: 375px) {
  .trendingContainer {
    gap: 16px;
    margin: 16px 0 24px 0;
  }
}
