.trendingContainer {
  display: flex;
  width: 87.8vw;
  overflow-x: scroll;
  gap: 40px;
  margin: 25px 0 40px 0;
}

.trendingContainer::-webkit-scrollbar {
  height: 5px;
  background-color: var(--light-grey);
}

.trendingContainer::-webkit-scrollbar-thumb {
  background-color: var(--red);
  width: 10px;
}

.title {
  margin-bottom: 25;
  margin-left: 25;
}

@media (max-width: 768px) {
}

@media (max-width: 375px) {
  .trendingContainer {
    gap: 16px;
    margin: 16px 0 24px 0;
  }
}
