.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 24px;
  width: 470px;
  height: 230px;
  border-radius: 8px;
  color: var(--white);
  background-size: cover;
  position: relative;
}

.info {
  width: 100%;
  padding: 5px;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.7);
}

@media (max-width: 768px) {
  .container {
    width: 470px;
    height: 230px;
  }
}

@media (max-width: 375px) {
  .container {
    width: 240px;
    height: 140px;
    padding: 16px;
  }
}
