:root {
  --red: #fc4747;
  --black: #10141e;
  --light-grey: #5a698f;
  --dark-blue: #161d2f;
  --white: #ffffff;
}

html,
body {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: var(--black);
  color: var(--white);
  margin: 0;
}

h1,
h2,
h3,
p,
span,
li,
a {
  font-weight: 300;
}

h1 {
  margin: 0;
  font-size: 32px;
}

p {
  margin: 0;
  font-size: 15px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

input {
  width: 381px;
  height: 37px;
  border: none;
  background-color: var(--dark-blue);
  font-size: 15px;
  font-weight: 100;
  color: var(--white);
  caret-color: var(--red);
  background-color: transparent;
}

input:focus-visible {
  outline: none;
}

hr {
  height: 1px;
  width: 336px;
  background-color: var(--light-grey);
  margin: 0;
  border: 0;
}

Link:hover {
  cursor: pointer;
}

.errorContainer {
  position: relative;
}

.errorMsg {
  position: absolute;
  right: 30px;
  bottom: 0px;
  color: var(--red);
  font-size: 13px;
}

.pointerHover:hover {
  cursor: pointer;
}

.title {
  font-size: 24px;
  margin: 3px 0 0 0;
}

.image {
  border-radius: 8px;
}

/* Styling for tab icons */
.icon-home:hover {
  fill: red;
}

/* Prevent input from bg from changing color */
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #1b1b1b inset !important;
  -webkit-text-fill-color: white !important;
}

@media (max-width: 375px) {
  form {
    width: 279px;
  }

  hr {
    width: 279px;
  }

  input {
    width: 100%;
  }

  p {
    font-size: 12px;
  }

  .title {
    font-size: 15px;
  }
}
