.container {
  display: flex;
  margin-top: 32px;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}

@media (max-width: 375px) {
  .container {
    margin: 0;
  }
}
