.container {
  width: 400px;
  height: 418px;
  background-color: var(--dark-blue);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signUpBtn {
  background-color: var(--red);
  color: var(--white);
  height: 48px;
  width: 336px;
  border-radius: 6px;
  border: none;
}

.subtitle {
  font-size: 15px;
}

.loginLink {
  color: var(--red);
  text-decoration: none;
}

.logo {
  margin: 79px 0 83px 0;
}

@media (max-width: 375px) {
  .container {
    width: 327px;
  }

  .signUpBtn {
    width: 279px;
  }
}
